@font-face {
  font-family: 'magra';
  src: url("../Magra-Regular.ttf"); }
body, html {
  padding: 0;
  margin: 0; }

html {
  font-style: italic;
  font-family: 'magra'; }

.logo, .Item1, .Item2 {
  color: black;
  text-decoration: none; }





h1 {
  text-align: center;
 }

.cartTbl {
  padding-left: 100px;
  width: 100%;
  flex-wrap: wrap;
  padding-right: 100px; }

.cartUl {
  list-style-type: none;
  width: 100%;
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
  font-size: 22px; }

.crtbt {
  background-color: transparent;
  border: none;
  font-size: 22px;
  margin-left: 15px; }

.crtItem1 {
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px; }

.total {
  text-align: right;
  padding-right: 100px;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 30px; 
}
.buytxt {
  font-size: 18px;
  background-color: transparent;
  border: none;
  border-bottom: 1px black solid;
  width: 300px;
  display: block; }

.buy {
  background-color: transparent;
  border: 1px solid black;
  margin-bottom: 30px;
  font-size: 18px;
  align-items: left;
  margin-top: 15px;
  width: 100px;
  height: 30px; }

.empty {
  font-size: 25px; 
  text-align: center;
}



.lnk, .lnk:visited, .lnk:active {
  display: block;
  text-decoration: none;
  color: black; }

.hr {
  color: black;
  background-color: black;
  size: 2px;
  width: 100%; }

  @media screen and (max-width:750px) {
      h1 {
        text-align: center;
        font-size: 25px;
      }
      .buytxt {
        font-size: 20px;
        background-color: transparent;
        border: none;
        border-bottom: 1px black solid;
        width: 100%;
        display: block; 
      }
      
      .cartTbl {
        /* padding-left: 100px; */
        width: 100%;
        flex-wrap: wrap;   
      }
        
    }

    @media screen and (max-width:600px) {
      
    }