.header {
  /* height: 100px; */
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 50px;
}
.Item1 {
  display: inline;
  width: 150px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 20px;
  text-decoration: none;
  margin-left: 30px;
}
.container {
  text-align: left;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: flex-end;
  list-style-type: none;
  width: 50%;
  margin-top: 25px;
  font-size: 25px;
 }

  .logo {
    font-size: 45px;
    width: 250px;
    margin-top: 25px;
    margin-right: 50px;
    text-align: left;
    
}
  
  
@media screen and (max-width:750px) {
  .header {
    height: 100px;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 50px;
    margin-bottom: 10px;
  }
  .container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: flex-end;
    list-style-type: none;
    margin-top: 25px;
    margin-right: -30px;
    font-size: 45px;
   }
.Item1 {
  display: inline;
  width: 150px;
  font-size: 15px;
  text-decoration: none;
  text-align: right;
}
.logo {
  font-size: 30px;
  width: 150px;
  margin-top: 25px;
  text-align: left; }
}

  
@media screen and (max-width:280px) {
  .header {
    height: 100px;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 100px;
    margin-bottom: 10px;
  }
  .container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: flex-end;
    list-style-type: none;
    margin-top: 25px;
  }
.Item1 {
  display: inline;
  font-size: 16px;
  text-align: right;
}
.logo {
  font-size: 30px;
  width: 15px;
  margin-top: 25px;
  text-align: left; }
}
@media screen and (max-width:400px) {
  .Item1 {
    display: inline;
    font-size: 16px;
    text-align: right;
  }
  .logo {
    margin-left: -30px;
  }
  .container {
    margin-right: -30px;
  }
  .header {
    height: 100px;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 100px;
    margin-bottom: 10px;
  }
  .types {
    font-size: 20px;
  }
  }

